# 1. Mots de passe et secrets (LE PLUS IMPORTANT)
.env
.env.*

# 2. Fichiers générés par Python
__pycache__/

# 3. Environnements virtuels (très lourds)
venv/
env/
.venv/

# 4. Fichiers de ton éditeur (VS Code)
.vscode/

# 5. Fichiers systèmes invisibles (Windows/Mac)
Thumbs.db
.DS_Store

# 6. Données et Code
data/
!data/ingestion/
*.csv
*.parquet
*.json

# 7. Modèles ML sauvegardés (lourds)
*.pkl
*.joblib
models/
ml/models/

# 8. Logs
*.log
logs/

# 9. Spark
spark_checkpoints/
checkpoints/